.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.HeaderApp {
  border: 2px solid rgb(212, 51, 51); 
  margin: 10px; 
  height: 50px;
}

.Buttons {
  background-color: #ffffff;
  border: 2px solid #6f0997;
  height: 30px;
  width: 140px;
}

.CourseCardMain {
    background-color: #ffffff;
    border: 2px solid #2bd61b;
    display: flex;
    margin: 10px;
    height: 150px;
}

.CourseCardTitleDesc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    padding: 15px;
}

.CourseCardOther {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    padding: 10px;
}

.CourseCardName {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.CourseCardTitle {
    padding: 0 0 10px 0;
    font-size: 24px;
}

InputMain {
    display: flex;   
    width: 150px;
}

InputSearch {
    border: 2px solid #d6c91b;
}

searchBarMain {
    display: flex;
}

CoursesMain {
    display: flex;
}
